---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"div">;

export const sidebarFooter = tv({
  base: "flex flex-col gap-2 p-2",
});

const { class: className, ...rest } = Astro.props;
---

<div
  class={sidebarFooter({ class: className })}
  data-sidebar="footer"
  {...rest}
  data-slot="sidebar-footer"
>
  <slot />
</div>
