---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"div">;

export const sidebarGroup = tv({
  base: "relative flex w-full min-w-0 flex-col p-2",
});

const { class: className, ...rest } = Astro.props;
---

<div
  class={sidebarGroup({ class: className })}
  data-sidebar="group"
  {...rest}
  data-slot="sidebar-group"
>
  <slot />
</div>
