---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"li">;

export const sidebarMenuItem = tv({
  base: "group/menu-item relative",
});

const { class: className, ...rest } = Astro.props;
---

<li
  class={sidebarMenuItem({ class: className })}
  data-sidebar="menu-item"
  {...rest}
  data-slot="sidebar-menu-item"
>
  <slot />
</li>
